@font-face {
	font-family: 'Lato-Regular';
	src: url('Lato/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
           }

@font-face {
	font-family: 'Lato-Bold';
	src: url('Lato/Lato-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
           }.
		  
		   
h1{
font-family: 'Lato-Bold';
}
p{
	font-family:"Lato-Regular", Lato;

}

#nav{
font-family: 'Lato', sans-serif;
}

           #header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
#section {
    width:350px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
